.register-page {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page .register-form {
  height: auto;
  width: auto;
  padding: 2rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 26px;
}

.register-form .custom-form-text-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-form .custom-form-text-group .custom-form-name-text-group {
  display: flex;
  gap: 1rem;
}

.register-form
  .custom-form-text-group
  .custom-form-label
  .custom-form-password-reveal-text {
  color: rgb(98, 161, 255);
}

.register-form
  .custom-form-text-group
  .custom-form-label
  .custom-form-password-reveal-text:hover {
  background-color: rgb(174, 206, 254);
  cursor: pointer;
}

.register-form .custom-form-text-group .custom-form-input {
  height: 1.5rem;
  border-radius: 12px;
  border: 1px solid rgb(160, 160, 160);
  padding: 2px 12px;
  font-size: 14px;
}

/* Estilização dos botões */

.register-form .custom-form-button-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Responsividade para Mobile */
@media (max-width: 425px) {
  .register-page .register-form {
    width: 16rem;
    gap: 31px;
  }
}

@media (max-width: 597px) {
  .register-page .register-form {
    width: 80%;
  }

  .register-form .custom-form-text-group .custom-form-name-text-group {
    display: flex;
    flex-direction: column;
  }
}
