/* Estilização global da App */

/* 
    Coloquei o "*" só para resetar o espaçamento da margem e 
    padding igualmente em todas as páginas da aplicação.
*/

* {
  margin: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}