.card-edition {
  margin: auto;
  margin-top: 20rem;
}

@media (max-width: 800px) {
  .card-edition {
    margin-top: 14rem;
  }
}

.teste {
  display: grid;
  justify-content: center;
}

.btn-enviar {
  display: block;
  margin: auto;
}

.tit-pub {
  text-align: center;
}

.div-card {
  display: flex;
  gap: 1rem;
}

.div-card h3 {
  display: flex;
}

.div-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
}

.div-card > div {
  position: absolute;
  left: 0;
  flex-shrink: 0;
}

.tit-pub {
  margin: 0 auto;
  text-align: center;
}
