.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.publicacao {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px rgb(110, 110, 110);
    background-color: rgb(44, 43, 43);
    padding: 10px;
}

nomeFoto{
    display: flex;
    flex-direction: row;
}

.fotoPerfil {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.fotoPerfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nomePerfil {
    margin-right: 10px;
    font-weight: bold;
    color: aliceblue;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.imagem{
    object-fit: cover;
}

.maisDetalhes {
    display: inline-block; /* Alterando para inline-block para ajustar ao conteúdo */
    padding: 10px 10px; /* Adicionando um espaço interno para melhorar a aparência */
    background-color: #dadada; /* Alterando a cor de fundo para torná-la mais visível */
    border: 1px solid #000000; /* Adicionando uma borda sólida */
    border-radius: 5px; /* Arredondando as bordas */
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s; /* Adicionando uma transição suave de cor de fundo */
}

.maisDetalhes:hover {
    background-color: #868686; /* Mudando a cor de fundo quando o mouse passa por cima */
}

.maisDetalhes button {
    background-color: transparent; /* Removendo o fundo padrão do botão */
    border: none; /* Removendo a borda padrão do botão */
    color: #333; /* Definindo a cor do texto */
    font-size: 16px; /* Ajustando o tamanho da fonte */
    cursor: pointer;
    outline: none; /* Removendo o contorno padrão do botão */
    text-align: center;
}
.fotonome{
    display: flex;
    flex-direction: row;
}
.curtirComentarEditar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.curtir{
    margin-top: 6px;
    cursor: pointer;
}
.comentar{
    margin-top: 1px;
    cursor: pointer;
}
.editar{
    margin-top: 1px;
    cursor: pointer;
}
.descricao{
    color: #dadada;
    font-size: 15px;
}